modules = ["php-8.2", "web"]
run = "php run"

[nix]
channel = "stable-25_05"

[deployment]
run = ["sh", "-c", "php run"]

[workflows]
runButton = "Start Server"

[[workflows.workflow]]
name = "Start Server"
author = 41118586
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "php -S 0.0.0.0:5000 -t ."

[[ports]]
localPort = 5000
externalPort = 80
